PORT=3000
NODE_ENV=development
APP_NAME=Donation Ledger
DATABASE_URL='postgresql://neondb_owner:npg_ftVUJ7LDhq4l@ep-round-field-al4wihs4-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
ADMIN_SIGNUP_CODE=2664
CURRENCY_CODE=EGP
DATABASE_SSL=false
